img {
    width: 75%;
    height: 75%;
}

#form-validation-error {
    overflow: visible;
    /*margin: 15px;*/
    color: white;
    alignment: center;
    text-align: center;
    width: 350px;
    height: 25px;
    border-radius: 15px;
    background-color: red;
    padding: 1em;
}

.even-row {
    background-color: white;
}

.odd-row {
    background-color: lightgray;
}
input.in-text {
    width: 325px;
    font-size: 12pt;
}

div#dataset {
    display: block;
    /*flex: auto;*/
    /*overflow: auto;*/
    padding: 25px;
    font-size: large;
    height: 550px;
}

table#dataset {
    border-collapse: collapse;
    border-color: grey;
}

#caduceus {
    width: 200px;
}

#top-header {
    background-color: orange;
    /*height: 100px;*/
    padding: 10px;
}

#td-header-text {
    font-size: 32pt;
    font-weight: bolder;
    width: 100%
}

#td-header-ver {
    font-size: 27px;
    font-weight: bolder;
    color: gray;
    width: 100%;
}

#td-form-view {
    align-content: center;
}

#container {
    padding: 20px;
    display: grid;
    grid-template-columns: 50px 450px ;
    grid-auto-flow: column;
}
#btn-provider-save {
    height: 25px;
    width: 100px;
    border-radius: 10px;
    background-color: lightgray;
    border: 2px solid black;
    font: 12pt bold black;
}

.del-button {
    alignment: center;
    border-radius: 5px;
    box-shadow: black;
    background-color: lightgray;
    border-right-width: 3px;
    border-bottom-width: 3px;
    border-bottom-color: darkgray;
    border-right-color: darkgray;
    border-left-width: 3px;
    border-left-color: white;
    border-top-color: white;
}
#container > div {
    /*border-radius: 5px;*/
    /*padding: 10px;*/
}

#container > div > div {
    /*border-radius: 5px;*/
    /*border-color: black;*/
    padding: 10px;
}

div#app {
    background-color: gray;
    height: 100%;
}

#form-provider {
    display: block;
    flex: auto;
    overflow: auto;
    background-color: lightblue;
    border-radius: 25px;
    padding: 25px;
    font-size: large;
    border: 2px solid black;
    height: 550px;
}

.col-form-label {
    font-size: larger;
    font-weight: bold;
}

.col-form-value {
    font-size: larger;
}

.div-dataset-list {
    width: 100%;
}

